.button {
  background: $color-green;
  border: none;
  border-radius: $base-border-radius;
  color: $color-white;
  outline: none;
  padding: $unit-s $unit;
  &:hover {
    background: $color-green-dark;
  }
}
