*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: $background;
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}
.col {
  @extend %container;
  width: 100%;
  @include breakpoint($small) {
    float: left;
    height: 100%;
    left: 0;
    overflow: scroll;
    position: static;
    top: 0;
    width: 50%;
  }
}

.omega {
  float: right;
}
