input {
  margin-bottom: $unit-s;
}
input[type="text"] {
  background: $color-white;
  border: $base-border;
  border-radius: $base-border-radius;
  font-size: 150%;
  display: block;
  outline: none;
  padding: $unit-s;
  width: 100%;
}
label {
  font-size: 80%;
  font-weight: bold;
}
