<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
    <script type="text/javascript" src="/static/bower_components/modernizr/modernizr.js"></script>
    <title>Swear Jar Bot</title>
  </head>

  <body>
    <div class="left-col">
      <header class="header">
        <h1 class="title">Swear Jar Bot</h1>
        <p class="subtitle">
          A Swear Jar Bot for Reddit&mdash;so watch your fucking mouth.
        </p>
        <a href="https://twitter.com/swearjarbot" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @swearjarbot</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </header>
      <form method="POST">
        {{ form.hidden_tag() }}
        <label>Enter Username</label>
        <input id="my-text-field" name="name" type="text" value="{{user}}">
        {{ form.submit(class='button') }}
        or
        <a href="{{ url_for('redirect_with_random_user') }}" class="button un-button">Random Sinner</a>
      </form>
    </div>

    <div class="right-col">
      {% if user %}
        {% for comment in comments %}
          <div class="comment">
            <p>{{ comment }}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53157204-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
