<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/static/bower_components/modernizr/modernizr.js"></script>
    <title>Swear Jar Bot</title>
  </head>
  <body>
    <h1>Swear Jar Bot</h1>
    <h2>Who the fuck we are: </h2>
    <p>
      We are the watchers on the wall. We know what you said last summer. You're a fucking potty mouth&mdash;shut the fuck u
    </p>
    <h2>Who the fuck are you? </h2>
    <form action="/?user={{ user }}">
      <input type="text" name="user" placeholder="">
      <input type="submit" value="Submit">
    </form>

    {{ user }}

    {% for comment in comments %}
      {{ comment }}
    {% endfor %}

    <!-- Scripts -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts/jquery.js"></script>
  </body>

</html>
